@import "variables";
body {
  background: $pink;
  background: linear-gradient(90deg, $pink 0%, $blue 100%);
  font-family: system-ui;
}

button {
  cursor: pointer;
  outline: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content-wrap {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 100px;
  margin: 30px;
}

h3 {
  margin: 0;
}

.form-wrap {
  width: 620px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  padding: 50px;
  position: relative;
  min-height: 250px;

  .form-auth {
    width: 50%;

    .card-title {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .card-content {
      width: 250px;
    }

    .card-action {
      display: flex;
      width: 250px;
      justify-content: space-between;
      margin-top: 30px;

      button {
        border: none;
        background: $pink;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        width: 49%;
        cursor: pointer;
      }

      button:last-child {
        background: $blue;
      }
    }
  }

  img {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

input {
  width: calc(100% - 20px);
  border: none;
  padding: 10px;
  margin: 10px 0;
  background: #efefef;
  border-radius: 10px;
  outline: none;
}

input:focus {
  border: none;
}

.header-main {
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 60px;
    margin: 20px 0;
  }
}

.plug-text {
  text-align: center;
  margin: 20px 0 -30px 0;
  font-size: 25px;
  color: #888888;
}

.main-cards__card.search {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  input {
    width: 250px;
    height: 40px;
    background: linear-gradient(90deg, $violet 0%, $blue 100%);
    padding: 15px;
    border-radius: 20px;
    margin: 0;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 25px;
    top: 25px;
    opacity: 0.7;
  }

  input::placeholder {
    color: rgb(218, 218, 218);
  }

  .search-btn-wrap {
    display: flex;
    justify-content: flex-end;

    button {
      border: none;
      background-color: $blue;
      height: 50px;
      color: white;
      font-size: 20px;
      border-radius: $br-btn;
      padding: 10px 20px;
      margin: 10px 0 10px 5px;
    }
  }
}

.main-cards {
  width: 250px;
  display: flex;
  justify-content: space-between;

  .main-cards__card {
    position: relative;
    width: calc(100% - 40px);
    height: 450px;
    border-radius: $br-card;
    background: $blue;
    padding: 20px;

    .logout {
      position: absolute;
      right: 20px;
      top: 20px;
      background: none;
      border: none;
      border-radius: 14%;
      padding: 4px 0 0 0;
      cursor: pointer;

      svg {
        width: 35px;
        height: 35px;
        padding: 0;

        path {
          fill: $lite-blue;
        }
      }
    }

    .avatar-img {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid white;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 10px 0 #000000;
        border-radius: 50%;
        top: 0;
        left: 0;
      }
    }

    .author {
      display: flex;
      font-size: 30px;
      justify-content: center;
      margin-top: 15px;

      p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
      }
    }

    .like {
      display: flex;
      font-size: 25px;
      justify-content: center;
      margin-top: 5px;

      p {
        margin: 0 3px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
      }
    }
    .my-questions {
      border: none;
      background: $lite-blue;
      padding: 10px 0;
      width: 100%;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 600;
      color: $blue;
      cursor: pointer;
      margin-top: 60px;
    }
  }
}

.main-title {
  color: $lite-blue;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 20px 0;
  font-size: 22px;
}

.auth-promp {
  margin: 0;
  text-align: center;
  color: $pink;
  width: 250px;
}

.main-content {
  width: calc(100% - 330px);
  min-height: 700px;
  border-radius: $br-card;
  padding: 20px;
  background: white;
  position: relative;
}

.form-post {
  width: auto;
  margin: 0 auto;
  background: linear-gradient(90deg, $pink 0%, $blue 100%);
  padding: 20px 30px;
  border-radius: 10px;
  margin-top: 20px;

  h3 {
    margin: 0;
    color: white;
  }

  input {
    background-color: white !important;
    margin-top: 20px !important;
    border-radius: 5px !important;
    padding: 5px 15px !important;
    width: calc(100% - 30px) !important;
    font-size: 24px !important;
  }

  textarea {
    border: none;
    height: 200px;
    background-color: white;
    border-radius: 5px !important;
    padding: 15px !important;
    width: calc(100% - 30px) !important;
    font-size: 18px !important;
  }
}

.switch-content {
  display: flex;
  justify-content: space-between;

  .content {
    width: 33%;

    button {
      background-color: white;
      border: none;
      padding: 15px;
      border-radius: $br-btn;
      color: $lite-blue;
      font-size: 24px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .content.main {
    text-align: center;
    button {
      background-color: $lite-blue;
      color: white;
    }
  }

  .content.next {
    text-align: end;
  }

  .content.main:hover {
    button {
      cursor: inherit;
      color: white;
    }
  }

  .content:hover {
    button {
      color: $blue;
    }
  }
}

.create-post,
.add-post {
  background-color: $blue;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: $br-btn;
  margin-top: 20px;
  cursor: pointer;
}

.add-post {
  background-color: $pink;
  margin-top: 0;
}

.card-post {
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(90deg, #fc466d 0%, #475cf5 100%);
  border-radius: $br-card;
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;

  .card-post__left {
    width: 180px;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    min-height: 200px;

    .avatar {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      box-shadow: 0px 0px 17px -5px #000000;
      -webkit-box-shadow: 0px 0px 17px -5px #000000;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .author {
      display: flex;
      justify-content: center;
      color: white;
      font-size: 20px;
      flex-wrap: wrap;
      margin-top: 20px;

      p {
        margin: 0 3px;
      }

      p:last-child {
        font-weight: 600;
      }
    }
  }

  .card-post__right {
    width: calc(100% - 180px);

    .card-post__title {
      width: 100%;
      color: white;
      display: flex;
      justify-content: space-between;
      height: 70px;

      h3 {
        font-size: 30px;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 10px 0 0;
        text-overflow: ellipsis;
        line-height: 70px;
      }

      .like {
        display: flex;
        line-height: 70px;
        margin-right: 5px;

        p,
        div {
          font-size: 30px;
          margin: 0;
          padding-right: 5px;
        }
      }

      .card-post__main {
        background: white;
        height: calc(100% - 80px);
        width: calc(100% - 10px);
        border-radius: 0 0 10px 0;
      }
    }

    .card-post__main {
      background: white;
      width: calc(100% - 10px);
      height: calc(100% - 80px);
      border-radius: 0 0 10px 0;
      -webkit-box-shadow: inset 1px 2px 11px 0px #00000054;
      box-shadow: inset 1px 2px 11px 0px #00000054;
    }
  }

  .card-post__text {
    font-size: 22px;
    padding: 30px;
    height: calc(100% - 101px);

    p {
      margin: 0;
    }
  }

  .card-post__footer {
    height: 41px;
    margin: 0 20px;
    border-top: 2px solid gainsboro;

    .date {
      display: flex;
      justify-content: flex-end;
      font-size: 18px;

      p {
        margin: 10px 0;
      }

      p:last-child {
        margin-left: 5px;
        font-weight: 700;
      }
    }
  }

  .btn-comment {
    overflow: hidden;
    transition: all 1s;
    background: $pink;
    width: fit-content;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }

  .card-post__bottom {
    width: 100%;
    background: white;
    -webkit-box-shadow: inset 0px 15px 20px -15px #000000;
    box-shadow: inset 0px 15px 20px -15px #000000;
  }
}

.form-comment {
  width: calc(100% - 59px);
  margin: 50px auto 0 auto;
  background: $blue;
  padding: 20px 30px;

  textarea {
    border: none;
    height: 200px;
    background-color: white;
    border-radius: 5px !important;
    padding: 15px !important;
    width: calc(100% - 30px) !important;
    font-size: 18px !important;
  }
}

.card-post.shadow {
  -webkit-box-shadow: 0px 0px 30px -10px #000000;
  box-shadow: 0px 0px 30px -10px #000000;
}

.btn-back-wrap {
  position: relative;
  height: 30px;

  .btn-back {
    color: #ffffff;
  }
}

.btn-back {
  border: none;
  background: none;
  font-size: 18px;
  color: #7f55cb;
  margin-top: 10px;
  display: flex;
  opacity: 0.5;
  position: absolute;
  cursor: pointer;
}

.btn-back:hover {
  opacity: 1;
}

.shadow-line {
  margin-top: 20px;

  div {
    width: 100%;
    height: 5px;
    background-color: $green;
  }
}

.comments-wrap {
  margin-left: 100px;

  .comment {
    border-left: 3px solid $pink;
    display: flex;
    padding: 50px 0 20px 0;
    -webkit-box-shadow: 0px 14px 34px -18px #000000;
    box-shadow: 0px 14px 34px -18px #000000;

    .comment__author {
      width: 150px;
      text-align: center;
      position: relative;

      .avatar {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid white;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .login {
        font-size: 20px;
        font-weight: 500;
      }

      .line {
        position: absolute;
        left: 0;
        top: 51.5px;
        display: flex;
        width: 25px;
        height: 3px;
        background-color: $pink;
      }
    }

    .comment__main {
      width: calc(100% - 150px);

      .text {
        height: calc(100% - 30px);
      }

      footer {
        display: flex;
        justify-content: space-between;
        line-height: 29px;

        .date {
          display: flex;

          p:last-child {
            margin-left: 5px;
            font-weight: 600;
          }
        }

        .like {
          display: flex;
          margin-right: 30px;

          p,
          div {
            font-size: 20px;
            margin: 0;
            padding-right: 5px;
          }
        }
      }
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.input__file-button {
  width: 100%;
  max-width: 290px;
  height: 60px;
  background: $grey;
  font-size: 1.125rem;
  font-weight: 700;
  color: #939393;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  border-radius: 10px;
  cursor: pointer;
}
