$green: #41b3a3;
$violet: #9553ba;
$pink: #fc466d;
$blue: #475cf5;
$grey: #efefef;
$lite-green: #4ccebc;
$lite-orange: #fa9e60;
$lite-pink: #f1759d;
$lite-blue: #92a1ff;
$br-input: 5px;
$br-btn: 10px;
$br-card: 20px;
